body {
    font-family: 'Mountains of Christmas';font-size: 22px;
    background-color: rgb(106, 139, 106);
}

.container{
    position: absolute;
    width:80%;
    height: 300px;
    border: none;
    

}

.mainbox{
    width: 80%;
    height: 300px;
    margin-left: 25%;
    margin-top: 200px;
    position: absolute;

    
}
p {
  font-family: Tahoma, Verdana, sans-serif;
}